{% extends 'base.html' %}

{% block content %}

    <div class="container pt-5">
        <div class="row featurette">
            <div class="col-md-12">
                <h2 class="featurette-heading">About the Society<span
                        class="text-muted"></span></h2>
                <a href="http://www.oldenglishgoats.org.uk/oegsformrtf%202012.rtf">Join OEGS (open simple form)</a>
                <br>
                <a href="http://www.oldenglishgoats.org.uk/OEGS%20leaflet%20bw%20pdf.pdf">See the OEGS leaflet/form
                    (open PDF file)</a>
                <br>
                <a href="http://http//www.adobe.com/products/acrobat/readstep2_allversions.html">(Link to free Acrobat
                    Reader to open PDF files)</a>
                <p class="lead">The Old English Goat Society was formed in June 2004 by a group of English Goat
                    breeders, who recognised that two types persisted within the breed. The group wanted to research the
                    smaller, shaggier, hardy and multi-purpose type with a more modest milk yield, reminiscent of those
                    that were common in the UK before most of the Swiss breeds were imported.</p>

                <p>The Old English Goat Society has developed a breed standard appropriate to our understanding of the
                    breed in its present form and of its history. We believe that there is an important niche for this
                    low input/low output goat, both now and in the future.</p>
                <br>
                <h3><span>The Old English Goat Society Aims</span></h3>
                <ul>
                    <li>To promote the Old English Goat as a good all-round goat and to further knowledge of the breed, its history and future development.</li>
                    <li>To maintain a Herd Book to enable the registration of all goats which conform to the breed standard and regulations.</li>
                    <li>To publish annually an Old English Goat Register and Stud List.</li>
                    <li>To provide links between and bring together Old English Goat breeders in the UK so that issues concerned with the breed can be aired.</li>
                    <li>To produce a monthly newsletter.</li>
                </ul>
            </div>
        </div>

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->

{% endblock %}