{% extends 'base.html' %}

{% block content %}

   
 <div class="container pt-5">
        
<div class="row featurette">
            
<div class="col-md-12">
                
<h2 class="featurette-heading"><span
 class="text-muted">Contact us at the OEGS</span></h2>
 <br>
                <a href="http://www.oldenglishgoats.org.uk/media/oegsformrtf_2012.rtf">OEGS Membership Application Form
 (simple file)</a>
 <br><br>
<a href="http://www.oldenglishgoats.org.uk/media/goat_reg_form_v01.pdf">OEGS Goat Registration Form
 (PDF) - 2 sided printing version</a>    <br>            <br>
    

<a href="http://www.oldenglishgoats.org.uk/media/births_form_v01.pdf">OEGS Births Form
 (PDF) - for notification of all births</a>    <br>            <br>
             


<br><br>
                <dl class="row">
					<dt class="col-sm-2">Chair:</dt>
                    <dd class="col-sm-10">Margaret Silcock</dd>
					<dt class="col-sm-2">Finance officer:</dt>
                    <dd class="col-sm-10">Shirley Goodyer</dd>
                    <dt class="col-sm-2">Newsletter Editor:</dt>
                    <dd class="col-sm-10">Janet Sanderson</dd>
                    <dt class="col-sm-2">Secretary:</dt>
                    <dd class="col-sm-10">Eleri Pugh</dd>
					<dt class="col-sm-2">Breed Registrar:</dt>
                    <dd class="col-sm-10">Adam Short</dd>
					<dt class="col-sm-2">Breed Historian:</dt>
                    <dd class="col-sm-10">Ray Werner</dd>
                </dl>
                <small>In the first instance please contact the Secretary (details below)</small>
                <address>Eleri Pugh<br>
                    Temple Farm<br>
                    Templeton<br>
                    Devon<br>
                    EX16 8BL<br>
					eleri@temple-farm.co.uk
                </address>
            </div>
        </div>

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->

{% endblock %}
