{% extends 'base.html' %}

{% block content %}

    <div class="container pt-5">
        <div class="row featurette">
            <div class="col-md-12">
                <h2 class="featurette-heading">Contact us <span
                        class="text-muted">at the OEGS</span></h2>
                <a href="http://www.oldenglishgoats.org.uk/oegsformrtf%202012.rtf">OEGS Membership Application Form
                    (simple file)</a>
                <br>
                <a href="http://www.oldenglishgoats.org.uk/OEGSleaflet2%20C%20JS.pdf">OEGS Information Leaflet and
                    joining form (PDF file)</a>
<br><br>
                <dl class="row">
					<dt class="col-sm-2">Chair:</dt>
                    <dd class="col-sm-10">Margaret Silcock</dd>
					<dt class="col-sm-2">Finance officer:</dt>
                    <dd class="col-sm-10">Shirley Goodyer</dd>
                    <dt class="col-sm-2">Newsletter Editor:</dt>
                    <dd class="col-sm-10">Janet Sanderson</dd>
                    <dt class="col-sm-2">Secretary:</dt>
                    <dd class="col-sm-10">Eleri Pugh</dd>
					<dt class="col-sm-2">Breed Registrar:</dt>
                    <dd class="col-sm-10">Adam Short</dd>
					<dt class="col-sm-2">Breed Historian:</dt>
                    <dd class="col-sm-10">Ray Werner</dd>
                </dl>
                <small>In the first instance please contact the Secretary (details below)</small>
                <address>Eleri Pugh<br>
                    Temple Farm<br>
                    Templeton<br>
                    Devon<br>
                    EX16 8BL<br>
					eleri.pugh@temple-farm.co.uk
                </address>
            </div>
        </div>

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->

{% endblock %}