{% extends 'base.html' %}

{% block content %}

    <div class="container pt-5">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">The History of the Breed <span
                        class="text-muted"></span></h2>
                <p>Once the typical cottagers’ goat in the 19th century, the Old English became less common as incomes
                    rose and
                    fewer people needed a house goat. Goats were imported and it became fashionable to breed bigger,
                    higher-yielding types. A
                    Stud Goat Scheme,
                    which made males of these ‘improved’ breeds available, hastened the demise of the native domestic
                    goat. It’s
                    possible that there are no non-feral goats in the country which have no Swiss or Nubian ancestry at
                    all.
                    Interest in the traditional goats was revived in the 1920s (see Emerald) and again in the
                    1970s.

                    Today there are fewer than 50 registered Old English Goat keepers in the UK with just over 100
                    registered
                    goats. Re-domesticated feral goats are recognised as part of the breed.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="https://media.oldenglishgoats.org.uk/Emerald5w.JPG"
                     alt="Emerald">
					 <p strong>Emerald,
                    newspaper report in 1920s</p>
                <img class="featurette-image img-fluid mx-auto" src="https://media.oldenglishgoats.org.uk/Hunt1.JPG"
                     alt="old english goat">
            </div>
        </div>

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->

{% endblock %}
