{% extends 'base.html' %}

{% block content %}
    <div class="container pt-5">
        <h2 class="featurette-heading">Breed Standard for the Old English Goat</h2>
        <p>Finalised at the Old English Goat Society AGM 19 June 2005</p>
        <dl class="row">
            <dt class="col-sm-3">Characteristics</dt>
            <dd class="col-sm-9">
                <p>Old English Goats are naturally adapted to the British Climate. Their constitution and hardiness are
                    two of their greatest characteristics.They will eat a wide range of food and are not deterred from
                    foraging by poor weather. They will drink water at the temperature of their surroundings.</p>
            </dd>

            <dt class="col-sm-3">Conformation</dt>
            <dd class="col-sm-9">
                <ul>
                    <li>The Old English Goat is small and 'cobby'(1).</li>
                    <li>The adult height at the withers should be 26 ins for females (24" to 28" is acceptable) and 28"
                        for males (26" to 30" being acceptable).
                    </li>
                    <li>The body is deep, and broad chested with a prominent breast bone and capacious belly.</li>
                    <li>The legs are short and well boned.</li>
                    <li>The back should be level from withers to hips, and then slope gently down to the root of the
                        tail.
                    </li>
                    <li>The udder should be well attached with well-spaced teats of even size and pointing slightly
                        forwards.
                    </li>
                </ul>
            </dd>

            <dt class="col-sm-3">Head</dt>
            <dd class="col-sm-9"><p>The head tapers to a moderately fine muzzle(2), with a dished facial profile. Both
                sexes are bearded. The ears are 'small'(3) and pricked. Most goats are naturally horned, although a
                minority are born without. The horns are usually set well apart, and should rise straight up to start
                with, then curve backwards (scimitar) or twist outwards (dorcas).</p>
            </dd>

            <dt class="col-sm-3">Neck</dt>
            <dd class="col-sm-9"><p>The neck should be free of tassels.</p>
            </dd>

            <dt class="col-sm-3">Coat</dt>
            <dd class="col-sm-9">
                <ul>
                    <li>The outer coat may be any length from short to shaggy, but it is never smooth or sleek. There
                        may be a fringe of long hair along the back and/or down the hindquarters.
                    </li>
                    <li>The copious fine cashmere undercoat is particularly noticable in winter, but it should be
                        detectable even in summer.
                    </li>
                </ul>
            </dd>

            <dt class="col-sm-3">Colour</dt>
            <dd class="col-sm-9"><p>Colour is variable, usually shades of grey or brown and often with black markings.
                White patches are acceptable. 'Swiss' markings(4) are not acceptable.</p>
            </dd>

            <dt class="col-sm-3">Definitions</dt>
            <dd class="col-sm-9">
                <ol>
                    <li>Cobby. The goat is short-coupled, and the legs short, so that the height from withers to brisket
                        is the same as the height from elbow to ground.
                    </li>
                    <li>'Moderately fine' muzzle. This is intermediate between the fine browsing muzzle of the
                        Anglo-Nubian and the relatively broad muzzle of the Swiss-derived dairy goats.
                    </li>
                    <li>Small ears. The ear when folded forwards should not reach beyond the corner of the mouth, and a
                        shorter ear than that is preferable.
                    </li>
                    <li>Swiss markings. This colour pattern, inherited as a package, includes prominent white stripes
                        down the face, white ears, white legs below the knee and a white rump.
                    </li>
                </ol>
            </dd>
        </dl>
    </div>
    <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->

{% endblock %}